name: Deploy to GitHub Pages


on:
  push:
    branches: [main]


jobs:
  build:
    runs-on: ubuntu-latest


    # env:
    #   NEXT_PUBLIC_BASE_PATH: /localistars-landing-new


    strategy:
      matrix:
        node-version: [16.x]


    steps:
      - name: Get files
        uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install packages
        run: npm i
      - name: Build project
        run: npm run build
      - name: Add .nojekyll file
        run: touch ./out/.nojekyll
      - name: Add CNAME file
        run: echo new.localistars.com > ./CNAME
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.1
        with:
          branch: gh-pages
          folder: out
